/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 2 version,not dead,not ie <= 11
*/

/* Variables */

:root {
  --basic-white: #FFFFFF;

  --basic-black: #000000;
  --basic-extra-black: #283136;
  --basic-dark-black: #231F20;
  --basic-gray-black: #444444;

  --basic-gray: #EEEEEE;
  --basic-dark-gray: #A6A6A6;
  --basic-low-gray: #DFDFDF;
  --basic-high-gray: #D5D5D5;
  --basic-medium-gray: #666666;
  --basic-middle-gray: #888888;
  --basic-hyper-gray: #DBDBDB;
  --basic-pale-gray: #D7DCDE;
  --basic-full-gray: #B4B9BB;
  --basic-extra-gray: #4D4D4D;
  --basic-bright-gray: #E1E1E1;
  --basic-light-gray: #C1C1C1;
  --basic-silver-gray: #C4C4C4;
  --basic-nano-gray: #F2F2F2;
  --basic-ultra-gray: #ABABAB;
  --basic-super-gray: #D7DCDF;

  --basic-red: #FB565A;
  --basic-medium-red: #E74246;
  --basic-dark-red: #D7373B;

  --basic-green: #00CA74;
  --basic-medium-green: #00BC6C;
  --basic-dark-green: #00AA62;

  --basic-yellow: #EFC849;
  --basic-medium-yellow: #EAB534;
  --basic-dark-yellow: #E5A722;

  --basic-shadow-box: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  --basic-popup-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
  --basic-shadow-gray: 0px 6px 15px rgba(0, 1, 1, 0.25);
  --basic-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
  --basic-drop-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);



  --basic-gradient-gray: linear-gradient(0deg, #E1E1E1, #E1E1E1);
  --basic-gradient-red: linear-gradient(0deg, #E74246, #E74246);
  --basic-gradient-dark-red: linear-gradient(0deg, #D7373B, #D7373B);

  --basic-background-white: rgba(0, 0, 0, 0.0001);
}

/* ==========
Global
========== */

body {
  min-width: 1440px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-transform: none;
  text-align: left;
  background-color: var(--basic-white);
  color: var(--basic-extra-black);
}

.page a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Button */

.button {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  border-radius: 3px;
  border: none;
  color: var(--basic-white);
}

.button:active {
  color: var(--basic-low-gray);
}

/* Grid index and catalog pages */

.page {
  height: 100%;
}

.page-body {
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* ========================
Index page - header
======================== */

/* Main navigation */

.main-header {
  margin-bottom: 80px;
  background-color: var(--basic-gray);
}

.main-navigation {
  display: flex;
  justify-content: flex-start;
}

.main-header-logo img {
  background-color: var(--basic-black);
}

.main-header-logo,
.inner-header-logo {
  display: flex;
  width: 160px;
  min-height: 65px;
  margin-top: 48px;
  margin-right: 202px;
}

.site-navigation a,
.user-navigation a {
  position: relative; /* для индикатора нахождения на странице */
  display: block;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.site-navigation a:hover,
.user-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:focus {
  color: var(--basic-red);
}

.site-navigation a:active,
.user-navigation a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.user-navigation .cart:active {
  opacity: 1;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 482px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-link {
  margin-right: 45px;
}

.site-link:nth-child(4n) {
  padding-left: 2px; /* выравнивание по макету в Perfect Pixel */
  margin-right: 0px;
}

.main-navigation .site-navigation {
  margin-top: 75px;
}

.user-navigation {
  position: relative; /* для индикатора нахождения на странице */
  display: flex;
  max-width: 120px;
  margin: 0 0 0 auto;
  padding: 0;
}

.main-navigation .user-navigation {
  margin-top: 75px;
}

.cart::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 4px;
  width: 18px;
  height: 18px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-navigation .cart {
  position: relative; /* для рисунка "корзина" */
  padding-left: 45px;
}

.site-navigation .navigation-current:first-child::before {
  content: "";
  position: absolute;  /* индикатор нахождения на странице студия */
  top: 118px;
  width: 61px;
  border: 1px solid var(--basic-red);
  background-color: var(--basic-red);
}

.site-navigation .navigation-current:nth-child(2n)::before {
  content: "";
  position: absolute;  /* индикатор нахождения на странице клиенты */
  top: 118px;
  width: 76px;
  border: 1px solid var(--basic-red);
  background-color: var(--basic-red);
}

.site-navigation .navigation-current:nth-child(3n)::before {
  content: "";
  position: absolute;  /* индикатор нахождения на странице магазин */
  top: 118px;
  width: 73px;
  border: 1px solid var(--basic-red);
  background-color: var(--basic-red);
}

.site-navigation .navigation-current:nth-child(4n)::before {
  content: "";
  position: absolute;  /* индикатор нахождения на странице контакты */
  top: 118px;
  width: 83px;
  border: 1px solid var(--basic-red);
  background-color: var(--basic-red);
}

.user-navigation .navigation-current::before {
  content: "";
  position: absolute;  /* индикатор нахождения на странице корзина */
  top: 43px;
  left: 5px;
  width: 112px;
  border: 1px solid var(--basic-red);
  background-color: var(--basic-red);
}

/* Photoslides */

.photoslides-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  width: 538px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.photoslides-item {
  display: none;
  padding: 24px 0 80px 0; /* верхний отступ от логотипа nerds до заголовка и нижний отступ от кнопки "узнать больше" до конца фона в header */
}

.photoslides-item h3 {
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
}

.photoslides-item-1 h3 {
  margin-bottom: 25px; /* отступ между заголовком и текстом в слайде-1 */
}

.photoslides-item-2 h3,
.photoslides-item-3 h3 {
  margin-bottom: 37px; /* отступ между заголовком и текстом в слайде-2 и слайде-3 */
}

.photoslides-item-1 p {
  margin-bottom: 39px; /* отступ до кнопки "узнать больше" в слайде-1 */
}

.photoslides-item-2 p,
.photoslides-item-3 p {
  margin-bottom: 27px; /* отступ до кнопки "узнать больше" в слайде-2 и слайде-3*/
}


.photoslides-know-button {
  padding: 17px 55px 15px 54px;
  background-color: var(--basic-red);
}

.photoslides-know-button:hover,
.photoslides-know-button:focus {
  background-color: var(--basic-medium-red);
}

.photoslides-know-button:active {
  background-color: var(--basic-dark-red);
  box-shadow: var(--basic-shadow-box);
}

.photoslides-list img {
  position: absolute;
  top: 0px;
  left: 397px;
  width: 760px;
  min-height: 431px;
  -o-object-fit: contain;
  object-fit: contain; /* на случай добавления картинки больше, чем заданные размеры */
}

.photoslides {
  position: relative; /* позиция для контейнера с кнопками в слайдере */
}

.photoslides-controls {
  position: absolute; /* контейнер с кнопоками в слайдере */
  left: 528px;
  top: 309px;
  z-index: 20;
  width: 88px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 88px;
}

.photoslides-controls label {
  position: relative; /* позиция для кнопок слайдера */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  cursor: pointer;
}

.photoslides-controls label::after {
  content: '';
  position: absolute; /* кнопки слайдера */
  z-index: 1;
  top: 8px;
  left: 8px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--basic-white);
}

.slide-1:checked ~ .photoslides-list .photoslides-item-1,
.slide-2:checked ~ .photoslides-list .photoslides-item-2,
.slide-3:checked ~ .photoslides-list .photoslides-item-3 {
  display: block;
}

.slide-1:checked ~ .photoslides-controls .slider-controls-1::before,
.slide-2:checked ~ .photoslides-controls .slider-controls-2::before,
.slide-3:checked ~ .photoslides-controls .slider-controls-3::before {
  content: '';
  position: absolute; /* серый круг внутри кнопки слайда */
  z-index: 2;
  top: 13px;
  left: 13px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  border: 2px solid var(--basic-light-gray);
  background-color: inherit;
}

/* ====================
Index page - main
==================== */

/* Services */

.services {
  position: relative; /* позиция для горизонтального серого бордера */
  margin-bottom: 121px;
}

.services::before {
  content: "";
  position: absolute; /* горизонтальный серый бордер */
  top: 427px;
  right: 2px;
  width: 1156px;
  border: 1px solid var(--basic-gray);
  background-color: var(--basic-gray);
}

.services-list {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  gap: 100px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-item img {
  width: 300px;
  height: 146px;
  -o-object-fit: contain;
  object-fit: contain; /* на случай добавления картинки больше, чем заданные размеры */
}

.services-image-1 {
  background-color: var(--basic-red); /* фон на случай, если картинка не прогрузится */
}

.services-image-2 {
  background-color: var(--basic-green); /* фон на случай, если картинка не прогрузится */
}

.services-image-3 {
  background-color: var(--basic-yellow); /* фон на случай, если картинка не прогрузится */
}

.services-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin-top: 18px; /* от названия до картинок */
  margin-bottom: 16px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.services-item p {
  margin-bottom: 32px; /* от текста до кнопки "заказать" */
}

.services-item a {
  padding: 17px 41px 15px 39px;
}

.website-button {
  background-color: var(--basic-red);
}

.website-button:hover,
.website-button:focus {
  background-color: var(--basic-medium-red);
}

.website-button:active {
  background-color: var(--basic-dark-red);
  box-shadow: var(--basic-shadow-box);
}

.app-button {
  background-color: var(--basic-green);
}

.app-button:hover,
.app-button:focus {
  background-color: var(--basic-medium-green);
}

.app-button:active {
  background-color: var(--basic-dark-green);
  box-shadow: var(--basic-shadow-box);
}

.presentation-button {
  background-color: var(--basic-yellow);
}

.presentation-button:hover,
.presentation-button:focus {
  background-color: var(--basic-medium-yellow);
}

.presentation-button:active {
  background-color: var(--basic-dark-yellow);
  box-shadow: var(--basic-shadow-box);
}

/* Features and statistics */

.features-and-statistics {
  position: relative; /* позиция для картинки nerds */
  display: flex;
  flex-wrap: wrap;
  min-height: 413px;
  margin-bottom: 110px; /* расстояния от блока преимуществ и статистики до блока партнеров */
}

.features-slogan {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  margin: 35px 0 16px 0;
  color: var(--basic-black);
}

.features-text {
  font-weight: 700;
  margin: 25px 0 10px 0;
  text-transform: uppercase;
}

.features {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

.features-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 0 0 35px;
  padding: 0;
  list-style: none;
}

.features-item p {
  margin: 12px 0;
}

.features-item {
  position: relative; /* позиция для красных буллетов */
}

.features-item::before {
  content: "";
  position: absolute; /* красные буллеты */
  display: inline-block;
  vertical-align: top;
  top: 24px;
  left: -36px;
  width: 23px;
  border: 1px solid var(--basic-red);
  background-color: var(--basic-red);
}


/* Statistics */


.features-and-statistics::before {
  content: "";
  position: absolute;
  width: 360px;
  height: 208px;
  right: 0px;
  margin: 0;
  padding: 0;
  background-image: url("../img/nerds-illustration.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  -o-object-fit: contain;
  object-fit: contain; /* на случай добавления картинки больше, чем заданные размеры */
  background-color: var(basic--white);
}

.statistics {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-basis: 360px;
  margin: 0 0 0 auto;
  padding: 245px 0 0 0;  /* отступ секции statistics под картинку nerds */
}

.statistics-caption {
  align-items: center;
  font-weight: 700;
  margin: 0 0 32px 1px; /* расстояние между текстом "с 2004 года..." и цифрами */
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-black);
}

.statistics-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 9px 0; /* расстояние между цифрами и текстом с описанием */
  padding: 0;
  list-style: none;
}

.statistics-item {
  display: flex; /* Ставит % возле цифр */
  flex-wrap: wrap;
}

.statistics-numeral {
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
  padding-right: 1px; /* для выравнивания с макетом в Perfect Pixel */
  color: var(--basic-black);
}


.statistics-percent{
  font-weight: 700;
  font-size: 26px;
  line-height: 40px;
  padding: 3px 0 0 0;
  margin-right: 21px;
  color: var(--basic-black);
}

.statistics-desc {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 360px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.statistics-desc-item p{
  line-height: 18px;
  margin: 0 24px 0 0; /* для выравнивания с макетом в Perfect Pixel */
}

.statistics-desc-item:nth-child(2n) p {
  padding-left: 5px; /* для выравнивания с макетом в Perfect Pixel */
}

.statistics-desc-item:nth-child(3n) p {
  margin-right: 0;
}

/* Partners */

.partners-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0 0 0 32px;
  list-style: none;
}

.partner-link img {
  background-color: var(--basic-background-white);
  opacity: 0.2;
}

.partner-link img:hover,
.partner-link:focus img{
  opacity: 1;
}

.partner-link img:active {
  opacity: 0.1;
}

/* Partners border */
.partners {
  position: relative; /* позиция для горизонтальных серых бордеров */
  margin-bottom: 119px;
}

.partners::after {
  content: "";
  position: absolute; /* верхний горизонтальный серый бордер */
  bottom: 143px;
  width: 1158px;
  border: 1px solid var(--basic-gray);
  background-color: var(--basic-gray);
}

.partners::before {
  content: "";
  position: absolute; /* нижний горизонтальный серый бордер */
  top: 134px;
  width: 1158px;
  border: 1px solid var(--basic-gray);
  background-color: var(--basic-gray);
}
.partners-item {
  position: relative; /* позиция для вертикальных серых бордеров */
}

.partners-item::before {
  content: "";
  position: absolute; /* вертикальные серые бордеры */
  top: 15px;
  left: 250px;
  height: 51px;
  border: 1px solid var(--basic-gray);
  background-color: var(--basic-gray);
}

.partners-item:first-child::before {
  left: 247px; /* для выравнивания с макетом в Perfect Pixel */
}

.partners-item:nth-child(2n)::before {
  left: 253px; /* для выравнивания с макетом в Perfect Pixel */
}

.partners-item:nth-child(3n)::before {
  left: 240px; /* для выравнивания с макетом в Perfect Pixel */
}

.partners-item:nth-child(4n)::before {
  display: none;
}

.partners-item:nth-child(1n) img {
  margin: 17px 95px 0 0; /* для выравнивания с макетом в Perfect Pixel */
}

.partners-item:nth-child(2n) img {
  margin: 0 104px 0 0; /* для выравнивания с макетом в Perfect Pixel */
}

.partners-item:nth-child(3n) img {
  margin: 19px 120px 0 0; /* для выравнивания с макетом в Perfect Pixel */
}

.partners-item:nth-child(4n) img {
  margin: 6px 0 0 0; /* для выравнивания с макетом в Perfect Pixel */
}

/* ========== Index page - footer ========== */

/* Maps */

.map{
  width: 1160px;
  height: 416px;
  margin: 0 auto;
}

.interactive-map-container {
  position: relative; /* позиция для интерактивной карты */
  width: 100%;
}

.interactive-map{
  position: absolute; /* интерактивная карта */
  bottom: 7px;
  z-index: 2;
  width: 100%;
  height: 416px;
  border: none;
}

.location {
  position: relative; /* позиция для адреса и маркера */
}

/* marker */

.marker {
  content: "";
  position: absolute; /* маркер на карте */
  bottom: 140px;
  right: 267px;
  z-index: 1;
}

/* Contacts */

.contacts {
  content: "";
  position: absolute; /* контакты на карте */
  bottom: 60px;
  display: inline-block;
  display: inline-block;
  vertical-align: top;
  width: 319px;
  min-height: 308px;
  z-index: 2;
  padding: 48px 39px 47px 50px;
  box-sizing: border-box;
  background-color: var(--basic-white);
}

.contacts-title {
  padding: 0;
  margin: 0 0 23px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.contacts-address,
.contacts-phone,
.contacts-phone-number {
  line-height: 18px;
  margin: 0;
  color: var(--basic-medium-gray);
}

.contacts-address {
  margin-bottom: 18px;
}

.contacts-phone-number:focus {
  color: var(--basic-black);
}

.contacts-button {
  margin-top: 37px; /* отступ между номером телефона и ссылкой "Напишите нам" */
  padding: 17px 45px 15px 44px;
  background-color: var(--basic-red);
}

.contacts-button:hover,
.contacts-button:focus {
  background-color: var(--basic-medium-red);
}

.contacts-button:active {
  background-color: var(--basic-dark-red);
  box-shadow: var(--basic-shadow-box);
}

/* Social and sale */

.footer-wrapper {
  display: flex;
  justify-content: flex-start;
}

/* Social */

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 261px;
  margin: 61px 0 68px 0;
  padding: 0;
  list-style: none;
}

.social-item {
  margin-right: 9px;
  position: relative;
}

.social-item:nth-child(3n) {
  margin-right: 0;
}

.social-button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 81px;
  height: 81px;
  color: var(--basic-white);
  border-radius: 50%;
  border: none;
  background: var(--basic-gradient-gray);
}

.social-button:hover,
.social-button:focus {
  background-image: var(--basic-gradient-red);
}

.social-button:active {
  background-image: var(--basic-gradient-dark-red);
  box-shadow: var(--basic-shadow-box);
}

.social-button:active svg {
  opacity: 0.3;
}

/* Sale */

.sale-tagline {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-black);
}

.sale-desc {
  line-height: 22px;
  color: var(--basic-gray-black);
}

.sale p {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 139px; /* расстояние между социальными ссылками и текстом */
  padding: 0;
}

.sale .sale-tagline {
  margin-top: 68px;
  margin-bottom: 10px;
}

.sale .sale-desc {
  margin-bottom: 74px;
}

/*=======================
Catalog page - header
=======================*/

.inner-header {
  background-color: var(--basic-gray);
  margin-bottom: 54px;
}

.inner-header-logo img,
.inner-header-logo img:hover,
.inner-header-logo img:focus {
  opacity: 1;
}

.inner-header-logo img:active {
  opacity: 0.3;
}

/* Catalog title */

.catalog-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  margin: 79px 0 108px 0;
  text-align: center;
  color: var(--basic-black);
}

/* ========== Catalog page - main ========== */

/* Grid for main */

.page-catalog {
  display: grid;
  grid-template-columns: 260px 760px;
  grid-template-rows: auto 1fr auto;
  -moz-column-gap: 140px;
  column-gap: 140px;
  align-content: start;
  margin-bottom: 59px;  /* расстояние от пагинации до карты */
}

.service-filter {
  grid-row: 1 / 4;
}

/* == Catalog filtres == */

.filter-item legend,  /* Стили для заголовков "стоимость:", "сортировать:", "сетка:", "особенности:" */
.filter-layot legend,
.filter-specificity legend,
.sorting-filter span {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
  color: var(--basic-black);
}

/* service-filter */

.service-filter {
  width: 260px;
  height: 210px;
}

.service-filter fieldset {
  margin: 0;
  margin-bottom: -8px; /* отступ от шкалы фильтра стоимости к названию "сетка" */
  padding: 0;
  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 48px;
}

.range-controls {
  position: relative; /* позиция для переключателей */
  height: 41px;
  margin-bottom: 14px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--basic-gray);
  border-radius: 3px;
}

.range-controls .scale {
  height: 2px;
  background: var(--basic-super-gray)
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: var(--basic-green);
}

.range-controls .toggle {
  position: absolute;  /* переключатели */
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border-radius: 50%;
  border: 8px solid var(--basic-white);
  background-color: var(--basic-ultra-gray);
  box-shadow: var(--basic-shadow);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 62px
}

.price-controls label {
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 10px;
  margin-left: 7px; /* отцентровка шкалы с цифрами. Цифры внутри шкалы не центрируются из-за наличия внутри шкалы таб-переключателя*/
  text-align: center;
  border: none;
  border-radius: 3px;
  background: var(--basic-gray);
  font-family: inherit;
  font-size: inherit;
}

/* filter-layot and filter-specificity */

.filter-layot legend {
  margin-bottom: 16px; /* отступ от "сетка" к списку */
}

.service-filter ul {
  line-height: 19px; /* элементы списка */
  padding: 0;
  margin: 0;
  list-style: none;
}

.filter-option {
  margin-bottom: 21px; /* отступы между элементами списка */
  padding-left: 36px;
}

/* filter radio */

.filter-option label {
  position: relative; /* для радиокнопок и чекбоксов */
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute; /* внешний круг радиокнопки */
  top: -3px;
  left: -36px;
  width: 25px;
  height: 25px;
  border: 4px solid var(--basic-extra-gray);
  border-radius: 50%;
  box-sizing: border-box;
  opacity: 0.4;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute; /* внутренний круг радиокнопки */
  box-sizing: border-box;
  top: 5px;
  left: -28px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--basic-extra-gray);
  opacity: 0.4;
}

.filter-input-radio + label:hover::before,
.filter-input-radio:checked + label:hover::after {
  opacity: 1;
}

.filter-input-radio:focus + label::before,
.filter-input-radio:checked:focus + label::after {
  opacity: 1;
}

.filter-input-radio + label:disabled::before,
.filter-input-radio:checked + label:disabled::after {
  opacity: 0.1;
}

/* filter checkbox */

.filter-specificity legend {
  padding-top: 33px;  /* отступ от фильтра "сетка" к названию "особенности" */
  margin-bottom: 16px; /* отступ от "особенности" к списку */
}

.filter-specificity ul {
  margin-bottom: 58px; /* отступ до кнопки "показать" */
}

.filter-input-checkbox + label::after {
  content: "";
  position: absolute; /* пустой квадрат чекбокса  */
  top: -2px;
  left: -36px;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute; /* квадрат с галкой в чекбоксе */
  top: -2px;
  left: -36px;
  width: 25px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-input-checkbox + label:hover::after,
.filter-input-checkbox:checked + label:hover::after {
  opacity: 1;
}

.filter-input-checkbox:focus + label::after,
.filter-input-checkbox:checked:focus + label::after {
  opacity: 1;
}

.filter-input-checkbox + label:disabled::after,
.filter-input-checkbox:checked + label:disabled::after {
  opacity: 0.1;
}

/* filter-button */

.filter-button {
  color: var(--basic-black);
  background-color: var(--basic-gray);
  padding: 17px 89px 15px 88px;
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--basic-low-gray);
}

.filter-button:active {
  color: var(--basic-dark-gray);
  background-color: var(--basic-high-gray);
  box-shadow: var(--basic-shadow-box);
}

/* sorting-filters */

.sorting-filter {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 48px;
}

.sorting-filter span {
  width: 134px;
  margin-right: 266px; /* отступ до sorting-filter-list */
}

.sorting-filter-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 18px;
  width: 298px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  list-style: none;
}

.sorting-filter-item {
  margin-right: 26px;
  padding-top: 5px; /* выравнивание по макету в Perfect Pixel */
}

.sorting-filter-item:nth-child(3n) {
  margin-right: 0;
}

.sorting-filter-item a {
  color: var(--basic-black);
  opacity: 0.3;
}

.sorting-filter-item a:hover,
.sorting-filter-item a:focus,
.sorting-filter-item-current a:focus {
  color: var(--basic-black);
  opacity: 0.6;
}

.sorting-filter-item a:active {
  color: var(--basic-black);
  opacity: 1;
}

.sorting-filter-item-current a,
.sorting-filter-item-current a:hover,
.sorting-filter-item-current a:active {
  color: var(--basic-black);
  opacity: 1;
}

.triangle-list {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 60px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.triangle-item {
  margin-right: 40px; /* отступ между треугольниками */
}

.triangle-item:nth-child(2n) {
  margin-right: 0;
}

.triangle-down::before {
  content: "";
  position: absolute; /* треугольник вниз */
  margin-top: 8px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 11px solid var(--basic-dark-black);
}

.triangle-up::before {
  content: "";
  position: absolute; /* треугольник вверх */
  margin-top: 8px;
  right: -2px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 11px solid var(--basic-dark-black);
}

.triangle-item a {
  color: var(--basic-dark-black);
  opacity: 0.3;
  position: relative; /* для треугольников вверх и вниз */
}

.triangle-item a:hover,
.triangle-item a:focus,
.triangle-item-current a:focus {
  color: var(--basic-dark-black);
  opacity: 0.6;
}

.triangle-item a:active {
  color: var(--basic-dark-black);
  opacity: 1;
}

.triangle-item-current a,
.triangle-item-current a:hover,
.triangle-item-current a:active {
  color: var(--basic-dark-black);
  opacity: 1;
}

/* Templates */

.templates {
  margin-bottom: 24px; /* отступ до пагинации */
}

.template-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.template-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-basis: 360px;
  margin-top: 26px;
  margin-right: 40px;
  margin-bottom: 30px;
  position: relative; /* для шапок шаблонов */
}

.template-item:nth-child(2n) {
  margin-right: 0;
}

.template-picture {
  width: 358px;
  height: 578px;
  border: 1px solid var(--basic-nano-gray);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  -o-object-fit: contain;
  object-fit: contain; /* на случай добавления изображения больше, чем заданные размеры */
  background-color: var(--basic-gray); /* фон на случай, если не прогрузится изображение */
}

.template-item::before {
  content: "";
  position: absolute; /* шапка шаблона */
  top: -25px;
  width: 360px;
  height: 40px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: var(--basic-extra-gray);
  opacity: 0.12;
}

.template-item:hover::before,
.template-item:focus::before {
  opacity: 1;
}

.templates-button button {
  content: "";
  position: absolute; /* декоративные кнопки в шапке */
  top: -13px;
  left: 16px;
  background-color: var(--basic-white);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: none;
}

.templates-button button {
  position: relative; /* для декоративных кнопок в шапке */
}

.templates-button {
  display: flex;
  justify-content: space-between;
  width: 60px;
}

.template-popup {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  content: "";
  position: absolute; /* попапы */
  top: 363px;
  width: 360px;
  min-height: 231px;
  box-sizing: border-box;
  background-color: var(--basic-gray);
  box-shadow: var(--basic-drop-shadow);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border: none;
  box-sizing: border-box;
  opacity: 0;
}

.template-item:hover .template-popup,
.template-item:focus .template-popup {
  opacity: 1; /* При наведении и фокусе на шаблон показывается попап */
}

.template-popup:focus-within {
  opacity: 1;
}

.template-price-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  margin-top: 26px;  /* выравнивание по макету в Perfect Pixel */
  margin-bottom: 12px;  /* выравнивание по макету в Perfect Pixel */
  margin-left: 2px;
  padding: 0 80px;  /* выравнивание по макету в Perfect Pixel */
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-black);
}

.template-price-text,
.template-price-text-sedona {
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  padding: 0 50px;  /* выравнивание по макету в Perfect Pixel */
  text-align: center;
  color: var(--basic-medium-gray)
}

.template-price-text-sedona {
  padding: 0 82px 0 78px;  /* скринридер криво отображает перенос текста через <br> в попапе Sedona, исправлено паддингами */
}

.template-price-title:hover,
.template-price-title:focus {
  color: var(--basic-red);
}

.template-price-title:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.template-price-button {
  padding: 17px 72px 15px 72px;
  margin-top: 32px;  /* выравнивание по макету в Perfect Pixel */
  margin-bottom: 44px;  /* выравнивание по макету в Perfect Pixel */
  background-color: var(--basic-red);
}

.template-price-button:hover,
.template-price-button:focus {
  background-color: var(--basic-medium-red);
}

.template-price-button:active {
  color: var(--basic-white);
  background-color: var(--basic-dark-red);
  box-shadow: var(--basic-shadow-box);
}

/* Pagination */

.pagination-item a {
  display: block;
  padding: 17px 20px 15px 20px;
  border-radius: 3px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-gray);
}

.pagination-item-next a {
  padding: 17px 76px 16px 79px;
}

.pagination-item-current a {
  color: var(--basic-black);
  background-color: var(--basic-white);
  border: 3px solid var(--basic-hyper-gray);
  box-shadow: none;
  padding: 13px 18px 13px 17px;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: var(--basic-low-gray);
}

.pagination-item a:active {
  color: var(--basic-dark-gray);
  background-color: var(--basic-high-gray);
  box-shadow: var(--basic-shadow-box);
}

/*  Flex for pagination */

.pagination-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 721px; /* Бесконечная пагинация не предусмотрена макетом, поэтому при проверке на доп. контент в колонке помещается 12 страниц 50х50px, а страница "следующая" должна оставаться в конце */
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-item {
  margin-right: 11px;
}

.pagination-item:nth-child(12n) {
  margin-right: 0;
}

/*================================
write-to-us-form
================================ */

.write-to-us-form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.surname-and-email {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 760px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 180px;
  left: 0;
  margin: auto;
  color: var(--basic-black);
  width: 960px;
  height: 590px;
  padding: 63px 99px 84px 101px;
  background-image: url("../img/popup-write-to-us.jpg");
  box-shadow: var(--basic-popup-shadow);
  box-sizing: border-box;
  z-index: 31; /* убирает просвечивание сквозь попап других элементов страницы */
}

.modal h2 {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  margin: 0;
  margin-bottom: 21px; /* отступ от заголовка "Напишите нам" до названия лэйблов */
}

.name-icon label,
.mail-icon label,
.letter-icon label {
  display: block;
  margin: 0;
  margin-bottom: 9px; /* отступ от названия лэйблов до ячеек */
  font-weight: 700;
  line-height: 18px;
}

.name-icon input,
.mail-icon input {
  width: 360px;
  min-height: 52px;
  padding: 13px 14px 14px 13px;
  border: 2px solid var(--basic-pale-gray);
  border-radius: 3px;
  box-sizing: border-box;
  background-color: var(basic-white);
}

.letter-icon textarea {
  width: 760px;
  min-height: 118px;
  padding: 14px 14px 13px 14px;
  border-radius: 3px;
  resize: none;
  box-sizing: border-box;
  border: 2px solid var(--basic-pale-gray);
  background-color: var(basic-white);
}

.name-icon input:hover,
.mail-icon input:hover,
.letter-icon textarea:hover {
  border: 2px solid var(--basic-full-gray);
}

.name-icon input:focus,
.mail-icon input:focus,
.letter-icon textarea:focus {
  border: 2px solid var(--basic-black);
}

.name-icon input:invalid,
.mail-icon input:invalid,
.letter-icon textarea:invalid {
  border: 2px solid var(--basic-medium-red);
  color: var(--basic-medium-red)
}

.letter-icon {
  margin-bottom: 40px; /* отступ до кнопки "Отправить"*/
}

.modal-button {
  padding: 17px 83px 15px 84px;
  background-color: var(--basic-red);
}

.modal-button:hover,
.modal-button:focus {
  background-color: var(--basic-medium-red);
}

.modal-button:active {
  background-color: var(--basic-dark-red);
  box-shadow: var(--basic-shadow-box);
}

.modal-close {
  position: absolute;
  top: 70px;
  right: 81px;
  width: 38px;
  height: 38px;
  border: none;
  background: none;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  bottom: 17px;
  right: 6px;
  width: 25px;
  height: 2px;
  border-radius: 2px;
  border: 1px solid var(--basic-red);
  background-color: var(--basic-red);
  box-shadow: var(--basic-drop-shadow);
  opacity: 0.3;
  cursor: pointer;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-close:hover::before,
.modal-close:hover::after,
.modal-close:focus::before,
.modal-close:focus::after {
  opacity: 1;
}

.modal-close:active::before,
.modal-close:active::after {
  opacity: 0.1;
}

.modal-show {
  display: block;  /* класс, созданный в script.js */
  -webkit-animation: bounce 0.6s;
  animation: bounce 0.6s;
}

.modal-error {
  -webkit-animation: shake 0.6s;
  animation: shake 0.6s; /* класс, созданный в script.js */
}

/* Animations */

@-webkit-keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
