/* Variables */

:root {
  --basic-white: #FFFFFF;

  --basic-black: #000000;
  --basic-extra-black: #283136;
  --basic-dark-black: #231F20;
  --basic-gray-black: #444444;

  --basic-gray: #EEEEEE;
  --basic-dark-gray: #A6A6A6;
  --basic-low-gray: #DFDFDF;
  --basic-high-gray: #D5D5D5;
  --basic-medium-gray: #666666;
  --basic-middle-gray: #888888;
  --basic-hyper-gray: #DBDBDB;
  --basic-extra-gray: #4D4D4D;
  --basic-bright-gray: #E1E1E1;
  --basic-light-gray: #C1C1C1;
  --basic-silver-gray: #C4C4C4;
  --basic-nano-gray: #F2F2F2;
  --basic-ultra-gray: #ABABAB;
  --basic-super-gray: #D7DCDF;

  --basic-red: #FB565A;
  --basic-medium-red: #E74246;
  --basic-dark-red: #D7373B;

  --basic-green: #00CA74;
  --basic-medium-green: #00BC6C;
  --basic-dark-green: #00AA62;

  --basic-yellow: #EFC849;
  --basic-medium-yellow: #EAB534;
  --basic-dark-yellow: #E5A722;

  --basic-shadow-box: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  --basic-shadow-gray: 0px 6px 15px rgba(0, 1, 1, 0.25);
  --basic-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
  --basic-drop-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);



  --basic-gradient-gray: linear-gradient(0deg, #E1E1E1, #E1E1E1);
  --basic-gradient-red: linear-gradient(0deg, #E74246, #E74246);
  --basic-gradient-dark-red: linear-gradient(0deg, #D7373B, #D7373B);

  --basic-background-white: rgba(0, 0, 0, 0.0001);
}

/* ========== Global ========== */

body {
  min-width: 1440px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-extra-black);
  text-transform: none;
  text-align: left;
  background: url("nerds-illustration.png") no-repeat 0 0;
  background-color: var(--basic-white);
}

.page a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  box-sizing: border-box;
  padding: 0 20px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Button */

.button {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: var(--basic-white);
  border-radius: 3px;
  border: none;
}

.button:active {
  color: var(--basic-low-gray);
}

/* Grid index page */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* ========== Index page - header ========== */



/* Main navigation */

.main-header {
  background-color: var(--basic-gray);
  margin-bottom: 80px;
}

.main-navigation {
  display: flex;
  justify-content: flex-start;
}

.main-header-logo img {
  background-color: var(--basic-black);
}

.main-header-logo,
.inner-header-logo {
  display: flex;
  width: 160px;
  min-height: 65px;
  margin-top: 49px;
  margin-right: 202px;
}

.site-navigation a,
.user-navigation a {
  color: var(--basic-black);
  text-transform: uppercase;
  font-weight: 500;
  line-height: 30px;
  display: block;
}

.site-navigation a:hover,
.user-navigation a:hover {
  color: var(--basic-red);
}

.site-navigation a:active,
.user-navigation a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.user-navigation .cart:active {
  opacity: 1;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 437px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-link {
  margin-right: 45px;
}

.site-link:nth-child(4n) {
  margin-right: 0px;
}

.main-navigation .site-navigation {
  margin-top: 75px;
}

.user-navigation {
  display: flex;
  max-width: 120px;
  margin: 0 0 0 auto;
  padding: 0;
}

.main-navigation .user-navigation {
  margin-top: 75px;
}

.cart::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 18px;
  height: 18px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-navigation .cart {
  padding-left: 45px;
  position: relative;
}


/* Photoslides */

.slide {
  display: none;
}

.slide-current {
  display: block;
}

.photoslides-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  width: 538;
  margin: 0;
  padding: 0;
  list-style: none;
}

.photoslides-item h3 {
  margin-top: 78px; /* до логотипа nёrds */
  margin-bottom: 25px;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
}

.photoslides-item p {
  margin-bottom: 38px;
}

.photoslides-know-button {
  display: inline-block;
  background-color: var(--basic-red);
  padding: 17px 54px 15px 54px;
  margin-bottom: 80px; /* до конца фона header */
}

.photoslides-know-button:hover {
  background-color: var(--basic-medium-red);
}

.photoslides-know-button:active {
  background-color: var(--basic-dark-red);
  box-shadow: var(--basic-shadow-box);
}

.main-header-wrapper {
  position: relative;
}

.photoslides img {
  position: absolute;
  width: 760px;
  min-height: 431px;
  top: 110px;
  left: 417px;
}

.photoslides-controls {
  display: flex;
  justify-content: space-between;
  width: 88px;
  position: absolute;
  left: 556px;
  top: 428px;
  z-index: 20;
}

.photoslides-controls button {
  padding: 0;
  width: 18px;
  height: 18px;
  background-color: var(--basic-white);
  border-radius: 50%;
  border: 2px solid var(--basic-white);
}

.photoslides-controls .current {
  position: relative;
}

.photoslides-controls .current::after {
  content: "";
  position: absolute;
  box-sizing: border-box;
  width: 8px;
  height: 8px;
  top: 3px;
  left: 3px;
  border-radius: 50%;
  border: 2px solid var(--basic-light-gray);
}



/* ========== Index page - main ========== */


.page-main {
  margin-bottom: 126px;
}


/* Services */

.services {
  margin-bottom: 121px;
  position: relative;
}

.services::before {
  content: "";
  position: absolute;
  top: 420px;
  width: 1158px;
  border: 2px solid var(--basic-gray);
}

.services-list {
  display: grid;
  grid-template-columns: 400px 400px 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-item h3 {
  margin-top: 25px;
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-black);
}

.services-item p {
  margin-bottom: 32px;
}

.services-item a {
  padding: 17px 40px 15px 39px;
}

.website-button {
  background-color: var(--basic-red);
}

.website-button:hover {
  background-color: var(--basic-medium-red);
}

.website-button:active {
  background-color: var(--basic-dark-red);
  box-shadow: var(--basic-shadow-box);
}

.app-button {
  background-color: var(--basic-green);
}

.app-button:hover {
  background-color: var(--basic-medium-green);
}

.app-button:active {
  background-color: var(--basic-dark-green);
  box-shadow: var(--basic-shadow-box);
}

.presentation-button {
  background-color: var(--basic-yellow);
}

.presentation-button:hover {
  background-color: var(--basic-medium-yellow);
}

.presentation-button:active {
  background-color: var(--basic-dark-yellow);
  box-shadow: var(--basic-shadow-box);
}



/* Features and statistics */

.features-and-statistics {
  margin-bottom: 121px;
  display: flex;
  min-height: 413px;
}

.features-slogan {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: var(--basic-black);
}

.features-text {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 23px 0;
}

.features {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  position: relative;
}


.features-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 0 0 32px;
  padding: 0;
  list-style: none;
}

.features-item {
  position: relative;
}

.features-item::before {
  display: inline-block;
  content: "";
  position: absolute;
  top: 27px;
  left: -32px;
  width: 25px;
  border: 2px solid var(--basic-red);
}

.features-slogan {
  margin: 40px 0 32px 0;
}

.features-desc {
  margin: 0 0 40px 0;
}

.statistics{
  display: flex;
  flex-direction: column;
  flex-basis: 360px;
  margin: 0 0 0 auto;
  padding: 0;
}

.statistics-caption {
  align-items: center;
  margin: 0 0 31px 0;
}

.statistics-list {
  display: flex;
  margin: 0 0 11px 0;
  padding: 0;
  list-style: none;
}

.statistics-item {
  display: flex;
}


.statistics-percent {
  margin-right: 21px;
}

.statistics-desc {
  display: flex;
}

.statistics-desc-1 {
  width: 118px;
}

.statistics-desc-2 {
  width: 118px;
}

.statistics-desc-3 {
  width: 124px;
}


/* Statistics */

.statistics::before {
  content: "";
  width: 360px;
  min-height: 208px;
  background-image: url("../img/nerds-illustration.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  margin: 0 0 37px 0;
  padding: 0;
}

.statistics-caption {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-black);
}

.statistics-numeral {
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
  color: var(--basic-black);
}

.statistics-percent{
  font-weight: 700;
  font-size: 26px;
  line-height: 40px;
  color: var(--basic-black);
}

.statistics-item p {
  line-height: 18px;
}



/* Partners */

.partners-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 15px;
  padding: 0 32px;
  list-style: none;
}

.partner-link img {
  background-color: var(--basic-background-white);
  opacity: 0.2;
}

.partner-link img:hover {
  background-color: var(--basic-background-white);
  opacity: 1;
}

.partner-link img:active {
  background-color: var(--basic-background-white);
  opacity: 0.1;
}

/* Partners border */
.partners {
  position: relative;
}

.partners::after {
  content: "";
  position: absolute;
  bottom: 150px;
  width: 1158px;
  border: 2px solid var(--basic-gray);
}

.partners::before {
  content: "";
  position: absolute;
  top: 120px;
  width: 1158px;
  border: 2px solid var(--basic-gray);
}
.partners-item {
  position: relative;
}

.partners-item::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 250px;
  height: 52px;
  border: 2px solid var(--basic-gray);
}

.partners-item:nth-child(4n)::before {
  display: none;
}

/* ========== Index page - footer ========== */

/* Map */


/* Contacts */

.contacts-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.contacts-address,
.contacts-phone {
  line-height: 18px;
  color: var(--basic-medium-gray);
}

.contacts-button {
  background-color: var(--basic-red);
}

.contacts-button:hover {
  background-color: var(--basic-medium-red);
}

.contacts-button:active {
  background-color: var(--basic-dark-red);
  box-shadow: var(--basic-shadow-box);
}



/* Grid footer */
/*
.footer-wrapper {
display: grid;
grid-template-columns: min-content 1fr;
column-gap: 139px;
}
.social-list {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
}
*/


.footer-wrapper {
  display: flex;
  justify-content: flex-start;
}



/* Social */

.social-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 68px 0 68px 0;
  padding: 0;
  list-style: none;
}

.social-item {
  margin-right: 9px;
  position: relative;
}

.social-item:nth-child(3n) {
  margin-right: 0;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 81px;
  height: 81px;
  color: var(--basic-white);
  border-radius: 50%;
  border: 1px solid var(--basic-bright-gray);
  background-color: var(--basic-bright-gray);
}

.social-button:hover {
  background-image: var(--basic-gradient-red);
}

.social-button:active {
  background-image: var(--basic-gradient-dark-red);
  box-shadow: var(--basic-shadow-box);
}

.social-button:active svg {
  opacity: 0.3;
}

/* Sale */

.sale-tagline {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-black);
}

.sale-desc {
  line-height: 22px;
  color: var(--basic-gray-black);
}

.sale p {
  display: flex;
  margin: 0 0 0 139px;
  padding: 0;
}

.sale .sale-tagline {
  margin-top: 75px;
  margin-bottom: 10px;
}

.sale .sale-desc {
  margin-bottom: 74px;
}




/* ========== Catalog page ========== */

.inner-header-logo img,
.inner-header-logo img:hover {
  background-color: var(--basic-black);
}

.inner-header-logo img:active {
  background-color: var(--basic-white);
  opacity: 0.3;
}

/* Catalog title */

.catalog-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  color: var(--basic-black);
  text-align: center;
  margin-bottom: 108px;
}

/* == Grid catalog main == */

.page-catalog {
  display: grid;
  grid-template-columns: 260px 760px;
  grid-template-rows: auto 1fr auto;
  column-gap: 140px;
  align-content: start;
  margin-bottom: 60px;
}

.service-filter {
  grid-row: 1 / 4;
}

.sorting-filter {
  margin-bottom: 48px;
}

.sorting-filter-list,
.sorting-list {
  margin: 0;
  padding: 0;
}

.templates {
  margin-bottom: 24px;
}

.template-list {
  margin: 0;
  padding: 0;
}

.pagination-list {
  margin: 0;
  padding: 0;
}

/* Catalog filtres */

.service-filter-desc,
.sorting-filter-desc {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
  color: var(--basic-black);
}

.sorting-filter-list,
.sorting-list {
  list-style: none;
}

.sorting-filter-list {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.sorting-filter-item a {
  color: var(--basic-black);
  opacity: 0.3;
}

.sorting-filter-item a:hover {
  color: var(--basic-black);
  opacity: 0.6;
}

.sorting-filter-item a:active {
  color: var(--basic-black);
  opacity: 1;
}

.sorting-filter-item-current a,
.sorting-filter-item-current a:hover,
.sorting-filter-item-current a:active {
  color: var(--basic-black);
  opacity: 1;
}

.sorting-item a {
  color: var(--basic-dark-gray);
  opacity: 0.2;
}

.sorting-item a:hover {
  color: var(--basic-dark-gray);
  opacity: 1;
}

.sorting-item a:active {
  color: var(--basic-dark-black);
  opacity: 1;
}

.sorting-item-current a,
.sorting-item-current a:hover,
.sorting-item-current a:active {
  color: var(--basic-dark-black);
  opacity: 1;
}

/* Templates */

.template-list {
  list-style: none;
}

.templates-button{
  background-color: var(--basic-extra-gray);
  weight: 14px;
  height: 14px;
  border: none;
  border-radius: 50%;
}

.template-price-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-black);
}

.template-price-title:hover {
  color: var(--basic-red);
}

.template-price-title:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.template-price-text {
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-medium-gray)
}

.template-price-button {
  background-color: var(--basic-red);
}

.template-price-button:hover {
  background-color: var(--basic-medium-red);
}

.template-price-button:active {
  color: var(--basic-white);
  background-color: var(--basic-dark-red);
  box-shadow: var(--basic-shadow-box);
}

/* Pagination */

.pagination-list {
  list-style: none;
}

.pagination-item a {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-gray);
}

.pagination-item a:hover {
  background-color: var(--basic-low-gray);
}

.pagination-item a:active {
  color: var(--basic-dark-gray);
  background-color: var(--basic-high-gray);
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:active {
  color: var(--basic-black);
  background-color: var(--basic-background-white);
  border: 3px solid var(--basic-hyper-gray);
}


/* == Flex catalog page == */

.service-filter {
  display: flex;
}

.sorting-filter {
  display: flex;
  justify-content: space-between;
}

.sorting-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 103px; /*изменить после обрисовки кнопок*/
  margin: 0;
  padding: 0;
}

.sorting-item {
  margin-right: 18px;
}

.sorting-item:nth-child(2n) {
  margin-right: 0;
}

.sorting-filter-desc {
  margin-right: 266px;
}

.sorting-filter-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 272px;
  margin: 0;
  padding: 0;
}

.sorting-filter-item {
  margin-right: 20px; /*изменить после обрисовки кнопок*/
}

.sorting-filter-item:nth-child(3n) {
  margin-right: 0;
}


.template-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.template-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-basis: 360px;
  margin-right: 40px;
}

.template-item:nth-child(2n) {
  margin-right: 0;
}

.template-picture {
  margin-left: 1px;
  margin-bottom: 31px;
}

.pagination-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 721px; /* Бесконечная пагинация не предусмотрена макетом, поэтому при проверке на доп. контент в колонке помещается 12 страниц 50х50px, а страница "следующая" должна оставаться в конце */
  margin: 0;
  padding: 0;
}

.pagination-item {
  margin-right: 11px;
}

.pagination-item:nth-child(12n) {
  margin-right: 0;
}
